.toppage
  .header
  .main
    .left
      .title.space
        KIT Web講演会名（デモ）
      .date
        開催日時：　2020年6月1日　18:00~19:00
      .test-link.font
        = link_to 'テスト配信はこちら', '#'
      .live-link.font
        %ul
          %li
            = link_to '本番500kbps配信', '#'
          %li
            = link_to '本番250kbps配信', '#'
    .right
      .image
        = image_tag 'sample.jpg'